* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: blue;
  color: white;
}

h1 {
  text-align: center;
  color: grey;
}

.container {
  padding: 0;
  width: 500px;
  background: yellow;
  color: black;
  margin: 0 auto;
}

